body {

    font-family: Arial, sans-serif;

    background-color: black;

    
}

header {
    background: #6a0dad;
    color: white;
    text-align: center;
    padding: 1px;
    font-size: 38px;
   
}

/*Navigation bar */
nav ul {
    list-style: none;
    padding: 4px;
    background: #333;
  

    text-align: center;
}


nav ul li a {
    color: white;
    font-size: 30px;
}
/* end of navigation bar*/

main {
    padding: 40px;
    text-align: left;
    font-size: 20px;
}

section {
    background: white;


    margin: 20px auto;
    padding: 30px;
    width: 60%;


    color: black;
    border-radius: 30px;
    font-size: 20px;
}

footer {
    background: #333;
    color: white;

    text-align: center;
    font-size: 22px;
    width: 100%;
    bottom: 0;

    padding: 15px;
    margin: auto;
}

img.resizable-image {
    max-width: 50%;
    max-height: 50%;

    display: block;


    margin: auto;
}

.p1 {
    font-size: 20px;

    line-height: 2;
}
